<div class="container">
  <h1 class="title">
      Migration Utility - List View
  </h1>
  <button class="btn btn-primary" (click) = "onNavigateBack()">Back</button><br>
  <form #listView="ngForm">
    <div class="form-group">
      <div class="listbox-area" id="exp_elem_list ">
        <div class="left-area">
          <span id="ss_elem">Source files migrating from:</span>
          <input type="text" class="form-control input-lg"
          placeholder="File relative path..."
          id="sourceGit" name="sourceGit"
          [(ngModel)]="model.sourceGit" required (focus)="showErrorMessage = ''" #sourceGit="ngModel"/>
          <ul id="ss_elem_list" tabindex="0" role="listbox" aria-labelledby="ss_elem">
            <li *ngFor="let rule of listViewModel | limitedPath: model.sourceGit; index as i" id="ss_elem_{{i}}" role="option">
              <a href="javascript:void(0)" (click)="onCompareFiles(rule)">{{rule.relPath}}</a></li>
          </ul>
        </div>
      </div>
      <p class="alert alert-danger" *ngIf="showErrorMessage !== ''" [innerHTML]="showErrorMessage">
      </p>
    </div>
  </form>
</div>

