<div class="container">
    <button class="btn btn-primary" (click) = "onNavigateBack()">Back</button>
    <h1 class="title">
      Migration Utility - Compare Results
    </h1>
    <div class="row">
     <div class="col-md-12">
        <div *ngIf="showErrorMessage === ''" class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">File name + path:</th>
                      <td>{{ngPath + '/' + fileSource}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Path for folder NGX:</th>
                      <td>{{ngxPath}}</td>
                    </tr>
                    <!--tr>
                      <th scope="row">Rules retrived from:</th>
                      <td>{{rulePath}}</td>
                    </tr-->
                    <tr>
                      <th scope="row">Key expected:</th>
                      <td>{{keyUsedFromSource}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Matched File:</th>
                      <td><a *ngIf="matchFound" href="javascript:void()" (click)="onOpenCompare()">{{ngxPath + '/' + matchedRules}}</a>
                          <strong>
                            <span *ngIf="noDestinationFound">Please update config.json at above key with destination.</span>
                            <span *ngIf="destinationFileNotExists">Destination file not exists.<br>
                              {{ngxPath + '/' + matchedRules}}
                            </span>
                          </strong>
                      </td>
                    </tr>
                </tbody>
              </table>
        </div>
     </div>
    </div>
    <p class="alert alert-danger" *ngIf="showErrorMessage !== ''" [innerHTML]="showErrorMessage">
    </p>
    <!--compare-list-item></compare-list-item-->
</div>
