<div>
  <form (ngSubmit)="onSubmit()" #basicSearch="ngForm">
    <div class="form-group">
      <div class="input-group input-group-lg">
        <input type="radio" value="G" name="searchType" [(ngModel)]="model.searchType" required #searchType="ngModel"> Git Diff Path
        <input type="radio" value="B" name="searchType" [(ngModel)]="model.searchType" required #searchType="ngModel"> Browse File Path
        <div *ngIf="model.searchType=='G'">
            <label for="sourceGit">File relative path</label>
            <input type="text" class="form-control input-lg"
              placeholder="File relative path..."
              id="sourceGit" name="sourceGit"
              [(ngModel)]="model.sourceGit" required (focus)="showErrorMessage = ''" #sourceGit="ngModel"/>
            <div [hidden]="sourceGit.valid || sourceGit.pristine" class="alert alert-danger">
                Please provide a valid path and name. This field is required.
            </div>
        </div>
        <div *ngIf="model.searchType=='B'">
          <label for="sourceBrowse">Browse source file</label>
          <input type="file" class="form-control input-lg" id="browsedFile" name="browsedFile" [(ngModel)]="model.browsedFile" (change)="handleFileInput($event.target.files)" requireFile #browsedFile="ngModel">
          <div [hidden]="browsedFile.valid || browsedFile.pristine" class="alert alert-danger">
              Please select a valid file. This field is required!
          </div>
        </div>
      </div>
    </div>
    <p class="alert alert-danger" *ngIf="showErrorMessage !== ''" [innerHTML]="showErrorMessage">
    </p>
      <button type="submit" class="btn btn-success" [disabled]="!basicSearch.form.valid">Get Comparables</button>
      &nbsp;OR&nbsp;
      <button type="button" class="btn btn-success" (click)="onListView()">List View</button>
  </form>
</div>
